[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	email = hey@tereshko.net
	name = xxtereshko
[core]
	editor = nano
[init]
	defaultBranch = main
[push]
	default = current
[credential]
	helper = osxkeychain
